antiorm==1.2.1
bayesian-optimization==1.4.3
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
cycler==0.12.1
db==0.1.1
db-sqlite3==0.0.1
Flask==1.1.1
glob2==0.7
gunicorn==20.1.0
imbalanced-learn==0.8.0
importlib-metadata==8.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==1.4.2
kiwisolver==1.4.7
lightgbm==3.3.5
loky==3.4.1
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.4.3
numpy==1.19.5
pandas==0.25.3
pickleshare==0.7.5
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn==1.0.2
scipy==1.5.4
seaborn==0.11.1
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.36.1
Werkzeug==0.16.0
zipp==3.20.2
